<form
  class="example-form"
  [formGroup]="formRegister"
  (ngSubmit)="registerUser()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            type="text"
            matInput
            minlength="3"
            maxlength="40"
            autocomplete="off"
            placeholder="nome completo"
            formControlName="name"
            required />
          <mat-error *ngIf="handleName.hasError('required')">
            Nome é <strong>Obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="handleName.errors?.['minlength']">
            nome deve conter no minimo 3 caracteres
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Online</mat-label>
          <input
            matInput
            type="text"
            minlength="3"
            maxlength="3"
            placeholder="sim ou nao(minusculo)"
            formControlName="online"
            autocomplete="off"
            required />
          <mat-error *ngIf="handleOnline.errors?.['required']">
            digite apenas <strong> sim </strong> ou
            <strong> nao </strong> minusculos, sem acento
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <textarea
        matInput
        type="email"
        formControlName="email"
        placeholder="Ex. pat@example.com"
        autocomplete="off"
        required></textarea>
      <mat-error
        *ngIf="
          handleEmail.hasError('email') && !handleEmail.hasError('required')
        ">
        Digite um e-mail valido.
      </mat-error>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td class="price">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          floatLabel="always">
          <mat-label>Preço</mat-label>
          <input
            matInput
            type="number"
            formControlName="price"
            minlength="1"
            autocomplete="off"
            class="example-right-align"
            placeholder="0"
            required />
          <span matPrefix>R$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div class="example-button-row" id="btn-form">
    <button
      mat-raised-button
      color="basic"
      style="margin-right: 10px"
      mat-dialog-close>
      cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formRegister.invalid"
      title="registar">
      alterar
    </button>
  </div>
</form>
